<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <script>document.write(new Date().getFullYear())</script> © NMSCST Online and Short Message Service Inquiry Chatbot.
            </div>
            
        </div>
    </div>
</footer>