<!-- ========== Left Sidebar Start ========== -->

<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu  test-->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"><%=translation.Main%></li>


                <li>
                    <a href="/" class="waves-effect">
                        
                        <i class="mdi mdi-monitor-dashboard"></i>
                        <span> <%=translation.Dashboard%> </span>
                    </a>
                    
                </li>
                
                <li>
                    <a href="/analytics" class="waves-effect">
                        
                        <i class="mdi mdi-chart-bar"></i>
                        <span> <%=translation.Menu1%> </span>
                    </a>
                    
                </li>
           
        <li class="menu-title">Quick Menu</li>
     <li>
                    <a href="students" class="waves-effect">
                        
                        <i class="mdi mdi-account-group-outline"></i>
                        <span> Students </span>
                    </a>
                    
                </li>
     <li>
                    <a href="/grades" class="waves-effect">
                        
                        <i class="mdi mdi-notebook-edit-outline"></i>
                        <span> Grades </span>
                    </a>
                    
                </li>
     <li>
                    <a href="/prospectus" class="waves-effect">
                        
                        <i class="mdi mdi-book-clock"></i>
                        <span> Prospectus </span>
                    </a>
                    
                </li>
     <li>
                    <a href="/events" class="waves-effect">
                        
                        <i class="mdi mdi-calendar-star"></i>
                        <span> Events </span>
                    </a>
                    
                </li>
                
  <li class="menu-title">Notifications</li>
     <li>
                    <a href="/messages" class="waves-effect">
                        
                        <i class="mdi mdi-facebook-messenger"></i>
                        <span> Messenger</span>
                    </a>
                    
                </li>
     <li>
                    <a href="/sms" class="waves-effect">
                        
                        <i class="mdi mdi-message-processing"></i>
                        <span> SMS </span>
                    </a>
                    
                </li>
     <li>
                    <a href="/unhandle" class="waves-effect">
                        
                        <i class="mdi mdi-alert-circle"></i>
                        <span>Unhandle Queries</span>
                             <span class="badge rounded-pill bg-warning">0</span>
                    </a>
        
                </li>

                <li class="menu-title">Admin Management</li>
                    <li>
                        <a href="/admin" class="waves-effect">                                   
                            <i class="mdi mdi-account-key"></i>
                                <span> Admin</span>
                        </a>                               
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->